body {
	background-repeat: no-repeat;
	background-color: #441c06;
	background-position: center top;
	font-family: Roboto, Arial, sans-serif;
}

#container {
	background-color: #fff;
	box-shadow: 0 0 50px #000;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
}

#header {
	background-image: url('../i/header-bkg.jpg');
	background-position: center top;
}

.logo img {
	display: block;
	margin: 15px auto 15px auto;
	height: 50px;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
}

#nav {
	background-color: #f36d21;
	border: none;
	margin-bottom: 0;

	a:link,
	a:visited,
	a:hover {
		color: #fff;
		font-size: 1.3em;
	}
}



.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-toggle {
	background-color: #f36d21;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #d15309;
}

#mc_embed_signup {
	background-color: #fafafa;
	border-top: 1px solid #eee;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #000;

	.textbox {
		width: 100%;
	}
	h3 {
		margin-top: 15px;
	}
}

#footer {
	background-color: #f36d21;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #fff;
}

.pdfdownload {
	float:right;
}