@import url(https://fonts.googleapis.com/css?family=Roboto:300,700);

@import "jaithai-main.scss";
@import "jaithai-utility";
@import "jaithai-staticpages";
@import "jaithai-shoppingcart";

/* Order details Page */
.orderdetailswrap { border: 2px solid #444; margin-bottom: 20px; }
.orderdetails { width: 100%; margin-bottom: 0; }
.orderdetails th { padding: 5px 5px 5px 5px; vertical-align: top; font-weight: bold; border: 1px solid #333; background-color: #ccc;  }
.orderdetails td { padding: 5px 10px 5px 5px; vertical-align: top; border: 1px solid #333; }
.orderdetails td.sectionhead { background-color: #444; color: #fff; }
.orderdetails td.spacer { border-left: 0; border-right: 0; }
.orderdetails label { font-size: 80%; color: #555;  }


/* Feedback Page */
.feedbackform li { font-weight: bold; margin-bottom: 40px;  }
.feedbackform .control { margin: 10px 0 0 0; font-weight: normal; }
.feedbackform #formsubmit { margin-left: 30px; margin-bottom: 30px; }
.feedbackrating tr { border-bottom: 1px solid #aaa; }
.feedbackrating td { padding: 5px; text-align: center; }

/* form controls */
select.textbox { /* height: 26px;  */ }
.textbox { padding: 8px; border: 1px solid #999; margin-left: 0; margin-bottom: 4px; }
.alert { margin-top: 15px; }

.cnysurcharge { margin: 0; font-size: 110%; color: #eee; margin-bottom: 15px; margin-top: 15px;
                background-image: linear-gradient(180deg, #a00 0%, #d00 50%, #a00 100%); background-color: #a00; }
.cnysurcharge div.botbg { background-image: url(../images/cny-surcharge-bkg.png); background-position: center bottom; background-repeat: no-repeat; height: 20px; }
.cnysurcharge a:link,
.cnysurcharge a:visited,
.cnysurcharge a:hover { color: #fff; text-decoration: underline; }
.cnysurcharge h3 { color: #feca05; font-weight: bold;  }
.promonote { color: #fff; padding: 10px 15px; background-color: #d00; font-size: 14px; margin-top: 5px; }
.promonote a:link,
.promonote a:visited,
.promonote a:hover { color: #fff; text-decoration: underline; }

.whatsapp-button {
    position: absolute;
    z-index: 2000;
    bottom: 15px;
    right: 15px;
    height: 60px;
    width: 60px;
    background: #25d366 url(../images/whatsapp.svg) 50%/60% no-repeat;
    border-radius: 50%;
    box-shadow: 1px 6px 24px 0 rgba(7,94,84,.24);
    cursor: pointer;
    transition: background-color .2s linear
}